<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ChatGPT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="OPENAI_API_KEY" value=""/>
		<!--Get Key from https://beta.openai.com/account/api-keys-->
	</appSettings>
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ChatGPT.My.MySettings>
            <setting name="openai_api_key" serializeAs="String">
                <value />
            </setting>
        </ChatGPT.My.MySettings>
    </userSettings>
</configuration>
